{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            "The Process"
        </h1>
        <head>
          <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
          <script>hljs.initHighlightingOnLoad();</script>
        </head>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Data Extraction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Create and load database (Lofi) </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Create and load database (EDM)</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
<!-- Pipeline code goes here -->
                  <body>
                  <pre>
                      <code class="python">"""TRACK INFORMATION NEEDED FOR ANALYSIS"""
import spotipy
import pandas as pd
import datetime
import Authorization

sp = spotipy.Spotify(client_credentials_manager=Authorization.client_credentials_manager)


def get_spotify_featured_URI(playlist):
    if playlist.startswith("https://api.spotify.com/v1/playlists/") | playlist.startswith(
            "https://open.spotify.com/playlist/"):
        pl_URI = playlist.split("/")[-1]
    elif playlist.startswith("37i"):
        pl_URI = playlist
    else:
        raise ValueError("Unable to access playlist URI")
    return pl_URI


def fetch_playlist_tracks(sp, playlistsid):
    offset = 0
    tracks = []
    # Make the API request
    while True:
        content = sp.playlist_tracks(playlistsid, fields=None, limit=100, offset=offset, market=None)
        tracks += content['items']

        if content['next'] is not None:
            offset += 100
        else:
            break

    track_uris1 = []
    track_names = []
    artist_uris = []
    artist_names = []
    artist_genre = []
    albums = []
    release_dates = []
    track_ids = []

    # sound features
    audio_infos = []
    danceability = []
    energy = []
    key = []
    loudness = []
    mode = []
    speechiness = []
    acousticness = []
    instrumentalness = []
    liveness = []
    valence = []
    tempo = []
    duration_ms = []

    for track in tracks:
        if track["track"] is not None:

            # Track ID
            track_id = track["track"]["id"]
            track_ids.append(track_id)

            # Track name
            track_name = track["track"]["name"]
            track_names.append(track_name)

            # Main Artist Information (Name)
            artist_name = track["track"]["artists"][0]["name"]
            artist_names.append(artist_name)

            # Artist Genre information
            artist_uri = track["track"]["artists"][0]["uri"]
            artist_info = sp.artist(artist_uri)

            # Appending genres as a single item as list does not append well into DB
            artist_genres = artist_info["genres"]
            if len(artist_genres) == 0:
                artist_genre.append("Not available")
            else:
                artist_genre.append(artist_genres[0])

            # Album Information (album name and release date)
            album = track["track"]["album"]["name"]
            albums.append(album)
            release_day = track["track"]["album"]["release_date"]
            release_dates.append(release_day)

        else:
            track_uris1.append("None")
            track_ids.append("None")
            track_names.append("None")
            artist_uris.append("None")
            artist_names.append("None")
            artist_genre.append("None")
            albums.append("None")
            release_dates.append("None")

    # NoneType filter
    for track_ID in track_ids:
        audio_info = sp.audio_features(track_ID)[0]  # Get audio features for this specific track
        if audio_info != None:
            audio_infos.append(audio_info)
        else:
            keys = ['danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
                    'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms']
            value = "None"
            audio_info = {i: value for i in keys}
            audio_infos.append(audio_info)

    # Audio features
    for audio_info in audio_infos:
        danceability.append(audio_info["danceability"])
        energy.append(audio_info["energy"])
        key.append(audio_info["key"])
        loudness.append(audio_info["loudness"])
        mode.append(audio_info["mode"])
        speechiness.append(audio_info["speechiness"])
        acousticness.append(audio_info["acousticness"])
        instrumentalness.append(audio_info["instrumentalness"])
        liveness.append(audio_info["liveness"])
        valence.append(audio_info["valence"])
        tempo.append(audio_info["tempo"])
        duration_ms.append(audio_info["duration_ms"])

    song_dict = {
        "track_name": track_names,
        "artist_name": artist_names,
        "album": albums,
        "artist_genre": artist_genre,
        "release_date": release_dates,
        "danceability": danceability,
        "energy": energy,
        "key": key,
        "loudness": loudness,
        "mode": mode,
        "speechiness": speechiness,
        "acousticness": acousticness,
        "instrumentalness": instrumentalness,
        "liveness": liveness,
        "valence": valence,
        "tempo": tempo,
        "duration_ms": duration_ms,
    }

    ct = datetime.datetime.now()

    song_df = pd.DataFrame(song_dict, columns=song_dict.keys())
    return song_df
</code></pre>
        </body>
              </div>

<!--   Lofi playlist code   -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <body>
                  <pre>
                      <code class="python">import track_extraction
import sqlite3
import sqlalchemy
import spotipy
import Authorization

# Spotify featured LoFi playlists
LOFI_BEATS = "37i9dQZF1DWWQRwui0ExPn"
VIRAL_LOFI = "37i9dQZF1DX3SNr5BeQZSd"

sp = spotipy.Spotify(client_credentials_manager=Authorization.client_credentials_manager)
DATABASE_LOCATION = "sqlite:///spotify_EDMvsLoFi_new.sqlite"

if __name__ == "__main__":
    # Load
    conn = sqlite3.connect('spotify_EDMvsLoFi_new.sqlite')
    engine = sqlalchemy.create_engine(DATABASE_LOCATION)
    cursor = conn.cursor()

    # Creating the database if it doesn't exist
    sql_query = """
    CREATE TABLE IF NOT EXISTS LOFI_music(
    track_name VARCHAR(200),
    artist_name VARCHAR(200),
    album VARCHAR(200),
    artist_genres VARCHAR(200),
    release_date VARCHAR(200),
    danceability BIT(20),
    energy BIT(20),
    key BIT(20),
    loudness BIT(20),
    mode BIT(20),
    speechiness BIT(20),
    acousticness BIT(20),
    instrumentalness BIT(20),
    liveness BIT(20),
    valence BIT(20),
    tempo BIT(20),
    duration_ms BIT(20),
    CONSTRAINT track_info PRIMARY KEY (track_name, artist_name)
    )
    """
    cursor.execute(sql_query)
    print("Opened database successfully")

    # Getting track information
    track_df = track_extraction.fetch_playlist_tracks(sp, "37i9dQZF1DWWQRwui0ExPn")

    # Loading data into database
    print("Attempting to load data into database")

    sql = "INSERT OR REPLACE INTO LOFI_music (track_name, artist_name, album, artist_genres, release_date, " \
          "danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence," \
          "tempo, duration_ms) " \
          "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    # Taking the values and adding them into the columns
    for track in track_df.values:
        print(track)
        cursor.execute(sql, track)
        conn.commit()
    print("Data successfully adding.")
</code></pre>
        </body>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <body>
                  <pre>
                      <code class="python">import track_extraction
import sqlite3
import sqlalchemy
import spotipy
import Authorization

# Spotify featured EDM playlists
EDM_PL = "37i9dQZF1DX1kCIzMYtzum"
EDM_HITS = "37i9dQZF1DX3Kdv0IChEm9"
EDM_MIX_JUST_FOR_YOU = "37i9dQZF1EIed8lWkU8WSm"

sp = spotipy.Spotify(client_credentials_manager=Authorization.client_credentials_manager)
DATABASE_LOCATION = "sqlite:///spotify_EDMvsLoFi_new.sqlite"

if __name__ == "__main__":
    # Load
    conn = sqlite3.connect('spotify_EDMvsLoFi_new.sqlite')
    engine = sqlalchemy.create_engine(DATABASE_LOCATION)
    cursor = conn.cursor()

    # Creating the database if it doesn't exist
    sql_query = """
    CREATE TABLE IF NOT EXISTS EDM_music(
    track_name VARCHAR(200),
    artist_name VARCHAR(200),
    album VARCHAR(200),
    artist_genres VARCHAR(200),
    release_date VARCHAR(200),
    danceability BIT(20),
    energy BIT(20),
    key BIT(20),
    loudness BIT(20),
    mode BIT(20),
    speechiness BIT(20),
    acousticness BIT(20),
    instrumentalness BIT(20),
    liveness BIT(20),
    valence BIT(20),
    tempo BIT(20),
    duration_ms BIT(20),
    CONSTRAINT track_info PRIMARY KEY (track_name, artist_name)
    )
    """

    cursor.execute(sql_query)
    print("Opened database successfully")

    # Getting track information
    track_df = track_extraction.fetch_playlist_tracks(sp, "37i9dQZF1DX1kCIzMYtzum")

    # Loading data into database
    print("Attempting to load data into database")

    sql = "INSERT OR REPLACE INTO EDM_music (track_name, artist_name, album, artist_genres, release_date, danceability,"\
          "energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, " \
          "duration_ms) " \
          "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    # Taking the values and adding them into the columns
    for track in track_df.values:
        print(track)
        cursor.execute(sql, track)
        conn.commit()
    print("Data successfully adding.")
</code></pre>
        </body>
              </div>
            </div>

        {% endblock %}