{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
             Audio Analysis
        </h1>
    </div>
        <nav id="navbar-example2" style="background-color: #ffffff;">
          <ul class="nav nav-pills">
            <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jump to:
                </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#scrollspyHeading1">Correlation Heatmap</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading2">Audio Feature Comparison</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading3">Acousticness</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading4">Danceability</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading5">Instrumentalness</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading6">Speechiness</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading7">Tempo</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading8">Valence</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading9">Loudness</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading10">Liveliness</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading11">Energy</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
          <h2 id="scrollspyHeading1", align="middle">Correlation HeatMap</h2>
          <p><div><img src="./static/analysis_charts/edm_correlation_heatmap.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                Findings:
                  <br>
                  - Moderate positive correlation between energy and loudness
                  <br>
                  - Low positive correlation between valence and danceability
                  <br>
                  - Low negative correlation between acousticness and energy and acousticness and loudness
                  <br>
              </div>
            </div>
            <br>
            <br>
            <div><img src="./static/analysis_charts/correlation_lofi_map.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                Findings:
                  <br>
                  - Moderate positive correlation between energy and loudness
                  <br>
                  - Low positive correlation between valance and danceability
                  <br>
                  - Low negative correlation between tempo and danceability and acousticness and energy
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading2", align="middle">Audio Feature Comparison</h2>
            <div><img src="./static/analysis_charts/comparison_bar_wo_loudness.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                Findings:
                  <br>
                  - EDM: Higher in energy
                  <br>
                  - Lofi: Higher in acousticness and instrumentalness
                  <br>
              </div>
            </div>
            <br>
            <br>
            <div><img src="./static/analysis_charts/comparison_tempo_color.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                Findings:
                  <br>
                  - EDM tempos are a bit faster on average than Lofi
              </div>
            </div>
            <br>
            <br>
            <div><img src="./static/analysis_charts/comparison_loudness_color.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                Findings:
                  <br>
                  - EDM on average is louder than Lofi
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading3", align="middle">Acousticness</h2>
            <div><img src="./static/analysis_charts/acousticness_comparison.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.
                  <br>
                  <br>
                  Findings:
                  <br>
                    - More tracks in the lofi playlist leaned towards a more acoustic sound while there were very little acoustiness found in EDM tracks
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading4", align="middle">Danceability</h2>
            <div><img src="./static/analysis_charts/comparison_danceability.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Similarities in danceabilities. Possibly due to different forms of dance such as shuffling and contemporary dance which matches the speeds of each type of genre.
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading5", align="middle">Instrumentalness</h2>
            <div><img src="./static/analysis_charts/instrumentalness_comparison.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Lofi tracks has more instruments in their tracks while EDM does not. Expected as EDM uses saved sounds, synthesizers, and samplings.
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading6", align="middle">Speechiness</h2>
            <div><img src="./static/analysis_charts/speechiness_comparison.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Very little spoken words in both EDM and Lofi
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading7", align="middle">Tempo</h2>
            <div><img src="./static/analysis_charts/tempo_comparison.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Tempo slightly faster overall in EDM compared to Lofi
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading8" align="middle">Valence</h2>
            <div><img src="./static/analysis_charts/valence_comparison.png" align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
                  <br>
                  >= 0 <= 1
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Valence is neutral with some lean towards the negative side.
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading9", align="middle">Loudness</h2>
            <div><img src="./static/analysis_charts/comparison_loudness.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - EDM tracks are shown to be overall louder than lofi tracks.
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading10", align="middle">Liveliness</h2>
            <div><img src="./static/analysis_charts/comparison_liveness.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - Both genre on the low end of the scale as they are produced by track samplings and synthesized beats
              </div>
            </div>
            <br>
            <br>
            <h2 id="scrollspyHeading11", align="middle">Energy</h2>
            <div><img src="./static/analysis_charts/comparison_energy.png", align="middle"> </div>
            <div class="card">
              <div class="card-body">
                  Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
                  <br>
                  <br>
                  Findings:
                  <br>
                  - EDM are shown to be more energetic than tracks in the lofi genre
              </div>
            </div>
            <br>
            <br>
        </div>

{% endblock %}