{% extends "layout.html" %}
{% block content %}
<head>
    <style>
        p {
            margin-left: 30px;
        }
    </style>
</head>
    <div class="site-header-logo">
        <h1 class="text-center">
            Machine Learning
        </h1>
        <div><img src="./static/analysis_charts/data_visualization1.png", align="middle"> </div>
        <div><img src="./static/analysis_charts/data_visualization2.png", align="middle"> </div>
        <div><img src="./static/analysis_charts/data_visualization3.png", align="middle"> </div>
        <br>
        <h2>Logistic Regression Machine Learning Model</h2>
        <div><img src="./static/analysis_charts/logistic_regression.png", align="middle"> </div>
        <br>
        <h2>K-Nearest Neighbor Machine Learning Model</h2>
        <div><img src="./static/analysis_charts/k_nearest_neighbor.png", align="middle"> </div>
        <br>
        <h2>Final Prediction Table</h2>
        <div><img src="./static/analysis_charts/final_prediction_model.png", align="middle"> </div>
{% endblock %}